@use '../base/' as *;
@use '../utils/' as *;

.toggle-button-container {
  display: flex;
  flex-direction: row;
  height: 36px;
  padding: 3px;
  background-color: $toggle-button;
  border-radius: 18px;
  color: $gray1;

  input[type='radio'] {
    display: none;
  }

  label {
    display: inline-block;
    width: 50%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transition: 0.3s;
  }
  input:checked + label {
    border-radius: 15px;
    background-color: $white;
    color: $primary;
  }
}

.button-submit {
  width: 100%;
  padding: 17px 0;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  color: $white;
  border: none;
  border-radius: 5px;
  background-color: $button-active;

  &:disabled {
    background-color: $button-inactive;
  }
}
