@use '../base/' as *;
@use '../utils/' as *;

.toggle-button-container {
  display: flex;
  flex-direction: row;
  height: 36px;
  padding: 3px;
  background-color: $toggle-button;
  border-radius: 18px;
  color: $gray1;

  label {
    display: inline-block;
    width: 50%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    transition: 0.3s;
  }
  input:checked + label {
    border-radius: 15px;
    background-color: $white;
    color: $primary;
  }
}
