//  기본 색상 --------------------------------------------------------- /
$white: #ffffff;
$black: #000000;
$dark-gray: #222222;
$gray: #b1b1b1;
$mint1: #5cc6ba;
$mint2: #b8e2de;
$dark-green: #355e5d;
$dark-mint: #569f9d;
$blue: #8fb4cf;
$yellow: #fdf2d0;
$mintgray: #f0f4f3;
$coral: #f7846b;

$primary: $mint1;
$secondary: $mint2;
$highlight: $coral;

// Light mode
$background: $white;
$font: $dark-gray;
