@use '../base/' as *;
@use '../utils/' as *;

.container.home {
  background-color: $secondary;
  padding-top: 50px;
}

.logo {
  display: block;
  position: absolute;
  text-align: center;
  top: 0;
  margin: auto;
  a {
    font-size: 45px;
    font-weight: bold;
    color: $white;
  }
}

.home {
  object {
    transform: translateY(25px);
  }

  &__slogan {
    width: 250px;
    font-size: 35px;
    font-weight: bold;
    line-height: 50px;
    word-break: keep-all;
    color: $dark-gray2;
    margin: 50px 0;
  }

  &__study-now {
    font-size: 20px;
    color: $white;
  }

  &__study-now::before {
    content: '';
    display: inline-block;
    width: 25px;
    height: 22px;
    background: url(../images/here.png) no-repeat bottom center / contain;
    background-size: 13px;
  }

  .study-list__card {
    margin: 10px 0;
  }

  .tags {
    margin-top: 15px;
  }

  &__study-now {
    font-size: 20px;
    color: $dark-gray2;
    font-weight: bold;
  }

  &__study-more {
    font-size: 25px;
    color: $white;
    text-align: center;
    font-weight: bold;
  }
}
