@use '../base/' as *;
@use '../utils/' as *;

.myarticle-container {
  display: flex;
  flex-direction: column;

  &.none {
    align-items: center;
    justify-content: center;
    height: calc(100vh - 136px);

    .article-count {
      text-align: center;
      font-size: 18px;
      line-height: 1.5;
    }
  }
}
