@use '../base/' as *;
@use '../utils/' as *;

.signup-container {
  .hidden {
    display: none !important;
  }

  .button-submit {
    margin-top: 38px;
  }

  .profile-image {
    &__container {
      position: relative;
      width: 140px;
      margin: 0 auto;
    }

    &__stroke {
      width: 140px;
      height: 140px;
      border-radius: 70%;
      overflow: hidden;
    }

    &__view {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__upload {
      position: absolute;
      width: 48px;
      height: 48px;
      z-index: 10;
      top: 60%;
      right: 0;
    }
  }

  .input-container {
    margin-top: 35px;

    .icon {
      width: 28px;
      height: 28px;
      position: absolute;
      top: 45px;
      right: 7px;
      font-size: 24px;
      pointer-events: none;

      &.icon-success {
        color: $primary;
      }

      &.icon-error {
        color: $coral;
      }
    }

    .error {
      position: absolute;
      top: 100%;
      margin-top: 10px;
      left: 7px;
      font-size: 16px;
      color: $coral;
    }
  }

  .profileImage {
    margin-top: 10px;
  }
}
