@use '../base/' as *;
@use '../utils/' as *;

.signin-container {
  .button-submit {
    margin-top: 48px;
  }

  .input-container {
    margin-top: 35px;
  }

  .menu-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .divider {
      color: $black2;
      border: 2px;
    }

    a {
      color: $black2;
      font-weight: 400;
      font-size: 16px;
    }

    .password-find,
    .signup {
      margin-left: 13px;
    }
  }
}
